.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.headerProduct {
  color: #1dc801;
}

.ForwardRef-root-1 {
  height: 36px !important;
}

.MuiInputBase-input {
  font-size: 10px !important;
}

.ForwardRef-iconButton-2 {
  background-color: #1dc801 !important;
  color: white !important;
}

.MuiIconButton-root {
  border-radius: 24px !important;
}

@media screen and (min-width: 1500px) {
  .headerContainer {
    margin-left: 19.5%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 1650px) {
  .headerContainer {
    margin-left: 17%;
    margin-right: 19%;
  }
}

@media screen and (min-width: 2600px) {
  .headerContainer {
    margin-left: 14.5%;
    margin-right: 17.5%;
  }
}

@media screen and (max-width: 780px) {
  .headerContainer {
    flex-direction: column;
    align-items: normal;
    margin-left: 8%;
  }
  .ForwardRef-root-1 {
    width: unset !important;
  }
}
